[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.3"
asgiref = "==3.3.1"
django-cors-headers = "==3.5.0"
djangorestframework = "==3.12.2"
psycopg2 = "==2.8.6"
pytz = "==2020.4"
sqlparse = "==0.4.1"
gunicorn = "*"
dj-database-url = "*"
django-crispy-forms = "*"
pillow = "*"
django-environ = "*"
whitenoise = "*"
psycopg2-binary = "*"
django-rest-knox = "*"
django-widget-tweaks = "*"
djangorestframework-bulk = "*"

[dev-packages]

[requires]
python_version = "3.7"
