.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #edf1f4;
    overflow-x: hidden;
    padding-top: 200px;
    list-style-type: none;
  }

  .calender {
    background-color: #edf1f4;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: black;
  }

  