/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url("https://fonts.googleapis.com/css?family=Montserrat");

.App{
  background-color: white;
  padding: none;
  border: none;
}
header{
  font-family: "Monserrat", sans-serif;
  /* padding-bottom: 4%; */
}
nav{
  display:flex;
  justify-content:space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
  width: 130%;
  position: fixed;
  z-index: 10;
  
}
.navlinks{
  display:flex;
  justify-content: space-around;
  width:28%;
  
}
.navlinks a{
  text-decoration: none;
  letter-spacing: 3px;
  font-weight:bold;
  font-size:14px;
  color:black;
  
}
.navlinks li{
  list-style: none;
  transition: .5s;
}
.navlinks li:hover{
  background: whitesmoke;
}
.logo{
  text-transform:uppercase;
  letter-spacing: 5px;
  font-size:20px;
}
.logo a{
  text-decoration: none;
  color:black;
}
.btn{
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius:3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;

}
.btn:hover{
  background-color: #2386c8;
}
.btn:focus{
  outline: none;
}